---
/// INDEX DE DESENVOLVEDOR
import Layout from "../../../../layouts/Layout.astro";
import SideMenu from "../../../../components/SideMenu.astro";

const pageTitle = "Aglomerado Ocidental";
---

<script>
    import markdownReader from "../../../../components/markdownReader";

    markdownReader([
        "./01_freya",
        "./02_ilhas-salocin",
        "./03_naraka",
    ]);
</script>

<Layout id="titulo" title={pageTitle}>
    <SideMenu
        links={[
            {
                href: "../",
                icon: null,
                label: `Nações,... / ${pageTitle}`,
            },
            {
                href: "./?markdown=0",
                icon: "bookmark_heart",
                label: "Freya",
            },
            {
                href: "./?markdown=1",
                icon: "format_paint",
                label: "Ilhas Salocin",
            },
            {
                href: "./?markdown=2",
                icon: "landscape_2",
                label: "Naraka",
            },
        ]}
    />
    <main style="max-width: 750px;"></main>
</Layout>
