---
/// INDEX DE DESENVOLVEDOR
import Layout from "../../layouts/Layout.astro";
import SideMenu from "../../components/SideMenu.astro";

const pageTitle = "Criação de Personagem";
---

<script>
    import markdownReader from "../../components/markdownReader";

    markdownReader([
        "./01_racas-e-vocacoes",
        "./02_empunhadura-de-armas",
        "./03_escolha-de-magias",
        "./04_atributos",
        "./05_escolha-de-classe"
    ]);
</script>

<Layout id="titulo" title={pageTitle}>
    <SideMenu
        links={[
            {
                href: "../",
                icon: null,
                label: `Início / ${pageTitle}`,
            },
            {
                href: "./?markdown=0",
                icon: "diversity_2",
                label: "Raças & Vocações",
            },
            {
                href: "./?markdown=1",
                icon: "waving_hand",
                label: "Empunhadura de Armas",
            },
            {
                href: "./?markdown=2",
                icon: "kid_star",
                label: "Escolha de Magias",
            },
            {
                href: "./?markdown=3",
                icon: "bar_chart_4_bars",
                label: "Atributos",
            },
            {
                href: "./?markdown=4",
                icon: "signpost",
                label: "Escolha de Classe",
            },
        ]}
    />
    <main style="max-width: 750px;"></main>
</Layout>
