---
/// INDEX DE DESENVOLVEDOR
import Layout from "../../../layouts/Layout.astro";
import SideMenu from "../../../components/SideMenu.astro";

const pageTitle = "Nações, Impérios,...";
---

<script>
import markdownReader from "../../../components/markdownReader";

    markdownReader(["./main",])
</script>

<Layout id="titulo" title={pageTitle}>
    <SideMenu
        raw
        links={[
            {
                href: "../",
                link: null,
                label: "Histórias / Nações, Impérios,...",
            },
            // {
            //     href: "../",
            //     link: map,
            //     label: "Mapa Interativo,
            // },
            {
                href: "./01_continente-tramontano/",
                icon: "ac_unit",
                label: "Continente Tramontano",
            },
            {
                href: "./02_continente-lanceiro/",
                icon: "hiking",
                label: "Continente Lanceiro",
            },
            {
                href: "./03_continente-lupino/",
                icon: "pet_supplies",
                label: "Continente Lupino",
            },
            {
                href: "./04_arquipelagos-centrais/",
                icon: "center_focus_strong",
                label: "Arquipélagos Centrais",
            },
            {
                href: "./05_continente-reptiliano/",
                icon: "eco",
                label: "Continente Reptiliano",
            },
            {
                href: "./06_aglomerado-ocidental/",
                icon: "temple_buddhist",
                label: "Aglomerado Ocidental",
            },
        ]}
    />
    <main style="max-width: 750px;">
    </main>
</Layout>
