---
/// INDEX DE DESENVOLVEDOR
import Layout from "../../layouts/Layout.astro";
import SideMenu from "../../components/SideMenu.astro";

const pageTitle = "Classes e Talentos";
---

<script>
    import markdownReader from "../../components/markdownReader";

    markdownReader([
        "./01_introducao",
        "./02_react-google-maps",
        "./03_api-flask",
        "./04_fluxo-completo",
    ]);
</script>

<Layout id="titulo" title={pageTitle}>
    <SideMenu
        links={[
            {
                href: "../",
                icon: null,
                label: "Início / Classes e Talentos",
            },
            {
                href: "./?markdown=0",
                icon: "info",
                label: "OE: Introdução",
            },
            {
                href: "./?markdown=1",
                icon: "room",
                label: "OE: React Google Maps",
            },
            {
                href: "./?markdown=2",
                icon: "calculate",
                label: "OE: Calculadora Perimétrica (API Flask)",
            },
            {
                href: "./?markdown=3",
                icon: "refresh",
                label: "OE: Fluxo Completo",
            },
        ]}
    />
    <main style="max-width: 750px;"></main>
</Layout>
