---
/// INDEX DE DESENVOLVEDOR
import Layout from "../../../../layouts/Layout.astro";
import SideMenu from "../../../../components/SideMenu.astro";

const pageTitle = "Continente Lupino";
---

<script>
    import markdownReader from "../../../../components/markdownReader";

    markdownReader([
        "./01_canopus",
        "./02_helia",
        "./03_imperio-laplace",
        "./04_laguna",
        "./05_lupus",
        "./06_porter",
        "./07_santiero-del-nord",
    ]);
</script>

<Layout id="titulo" title={pageTitle}>
    <SideMenu
        links={[
            {
                href: "../",
                icon: null,
                label: "Nações,... / Continente Lupino",
            },
            {
                href: "./?markdown=0",
                icon: "wind_power",
                label: "Canopus",
            },
            {
                href: "./?markdown=1",
                icon: "wb_sunny",
                label: "Hélia",
            },
            {
                href: "./?markdown=2",
                icon: "gavel",
                label: "Império LaPlace",
            },
            {
                href: "./?markdown=3",
                icon: "sailing",
                label: "Laguna",
            },
            {
                href: "./?markdown=4",
                icon: "forest",
                label: "Lupus",
            },
            {
                href: "./?markdown=5",
                icon: "experiment",
                label: "Porter",
            },  
            {
                href: "./?markdown=6",
                icon: "skull",
                label: "Santiero del Nord",
            },             
        ]}
    />
    <main style="max-width: 750px;"></main>
</Layout>
