---
/// INDEX DE DESENVOLVEDOR
import Layout from "../layouts/Layout.astro";
import SideMenu from "../components/SideMenu.astro";

const pageTitle = "Início";
---

<script>
    import markdownReader from "../components/markdownReader";
 
    markdownReader([
        "./aba_novidades",
        "./aba_exploracao-de-mundo",
    ]);
</script>

<Layout id="titulo" title={pageTitle}>
    <SideMenu
        links={[
            {
                href: "/",
                icon: "new_releases",
                label: "Novidades!",
            },
            {
                href: "./01_historias/",
                icon: "timeline",
                label: "Histórias",
            },
            {
                href: "./?markdown=1",
                icon: "planet",
                label: "Exploração de Mundo",
            },
            {
                href: "./02_criacao-de-personagem/",
                icon: "badge",
                label: "Criação de Personagem",
            },
            {
                href: "./03_sistema-de-classes-e-combate/",
                icon: "school",
                label: "Sistema de Classes & Combate",
            },
            {
                href: "./04_itens-armas-consumiveis/",
                icon: "science",
                label: "Itens, Armas, Consumíveis",
            },
        ]}
    />
    <main style="max-width: 750px;"></main>
</Layout>
