---
// Sidemenu.astro
import Icon from "./Icon.astro";

const { links = [], raw = false } = Astro.props;
---

<div 
    class="is-raw" 
    data-raw={raw ? 'true' : 'false'} 
    id="is-raw"
/>

<script>

    // AQUI ESTÁ COMO CONSEGUIR DADOS DE FORA
    const data = document.getElementById('is-raw')?.getAttribute('data-raw')
    const isRaw = data === 'true' ? true : false

    const urlParams = new URLSearchParams(window.location.search);
    const markdownIndex = urlParams.get("markdown")
        ? // Se um markdown estiver sendo exibido, ativa no CSS
          Number(urlParams.get("markdown")) + 1
        : // Se não, verifica se é um menu de markdown, e se não for só colore o retorno
          window.location.pathname.includes("0")
          ? isRaw ? null : 1
          : 0;

    const linkToActivate = document.getElementById(String(markdownIndex));
    if (linkToActivate) {   
        linkToActivate.classList.add("active");
    }

    // Transição lateral do Menu ao recarregar a página
    document.addEventListener("DOMContentLoaded", () => {
        const element = document.querySelector(".fade-in");
        element?.classList.add("visible");
    });
</script>

<div class="fade-in">
    <aside class="sidemenu">
        <div class="header">
            <h2>Anvestea's Accord</h2>
            <p>o Manual do RPG</p>
        </div>
        <nav>
            <ul>
                {
                    links.map((link: any, e: number) => (
                        <li class={!link.icon ? "pager-container" : null}>
                            <a
                                class={!link.icon ? "pager" : null}
                                id={String(e)}
                                href={link.href}
                            >
                                <Icon
                                    name={link.icon ? link.icon : "arrow_left"}
                                />
                                {link.label}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </aside>
</div>

<style>
    .active {
        position: relative;
        color: #d8131a !important;
    }
</style>
