---
/// INDEX DE DESENVOLVEDOR
import Layout from "../../layouts/Layout.astro";
import SideMenu from "../../components/SideMenu.astro";


const pageTitle = 'Datasol Docs p/ Devs'

---

<SideMenu
    role="dev"
    isOpen={true}
    links={[
        {
            href: "/",
            icon: "logout",
            label: "Sair",
        },
        {
            href: "./01_basicos/",
            icon: "question_mark",
            label: "Básicos",
        },
        {
            href: "./02_relatorios-dinamicos/",
            icon: "description",
            label: "Relatórios Dinâmicos",
        },
        {
            href: "./03_orcamento-expresso/",
            icon: "speed",
            label: "Orçamento Expresso",
        },
    ]}
/>

<Layout id="titulo" title={pageTitle}>
    <main style="max-width: 750px;">

    </main>
</Layout>
