---
/// INDEX DE DESENVOLVEDOR
import Layout from "../../layouts/Layout.astro";
import SideMenu from "../../components/SideMenu.astro";

const pageTitle = "Combate, Classes...";
---

<script>
    import markdownReader from "../../components/markdownReader";

    markdownReader([
        "./01_classes",
        "./02_catalogo-de-talentos",
        "./03_turnos-e-acoes",
        "./04_saques-e-drops-de-itens",
        "./05_subclasse-e-evolucoes",
    ]);
</script>

<Layout id="titulo" title={pageTitle}>
    <SideMenu
        links={[
            {
                href: "../",
                icon: null,
                label: `Início / ${pageTitle}`,
            },
            {
                href: "./?markdown=0",
                icon: "school",
                label: "Classes",
            },
            {
                href: "./?markdown=1",
                icon: "receipt_long",
                label: "Catálogo de Talentos",
            },
            {
                href: "./?markdown=2",
                icon: "gavel",
                label: "Turnos & Ações",
            },
            {
                href: "./?markdown=3",
                icon: "star_half",
                label: "Saques/Drops de Itens",
            },
            {
                href: "./?markdown=4",
                icon: "rocket",
                label: "Subclasse & Evoluções",
            },
        ]}
    />
    <main style="max-width: 750px;"></main>
</Layout>
