---
/// INDEX DE DESENVOLVEDOR
import Layout from "../../layouts/Layout.astro";
import SideMenu from "../../components/SideMenu.astro";

const pageTitle = "Histórias";
---

<Layout id="titulo" title={pageTitle}>
    <SideMenu
        isOpen={true}
        links={[
            {
                href: "../",
                link: null,
                label: "Início / Histórias",
            },
            {
                href: "./01_o-comeco-e-o-fim/",
                icon: "recycling",
                label: "O Começo (e o Fim)",
            },
            {
                href: "./02_as-divinas-cruzadas/",
                icon: "flare",
                label: "As Divinas Cruzadas",
            },
            {
                href: "./03_nacoes-imperios-paises/",
                icon: "flag",
                label: "Nações, Impérios, Países",
            },
        ]}
    />
    <main style="max-width: 750px;"></main>
</Layout>
