---
/// INDEX DE DESENVOLVEDOR
import Layout from "../../layouts/Layout.astro";
import SideMenu from "../../components/SideMenu.astro";

const pageTitle = "Sistema de Combate";
---

<script>
    import markdownReader from "../../components/markdownReader";

    markdownReader([
        "./01_introducao",
        "./02_estrutura-dos-dados",
        "./03_filtros-dinamicos",
        "./04_painel-de-edicao",
        "./05_responsaveis",
    ]);
</script>

<Layout id="titulo" title={pageTitle}>
    <SideMenu
        links={[
            {
                href: "../",
                icon: null,
                label: "Início / Sistema de Combate",
            },
            {
                href: "./?markdown=0",
                icon: "info",
                label: "Introdução",
            },
            {
                href: "./?markdown=1",
                icon: "storage",
                label: "Estrutura dos dados",
            },
            {
                href: "./?markdown=2",
                icon: "filter_list",
                label: "Filtros Dinâmicos",
            },
            {
                href: "./?markdown=3",
                icon: "edit_square",
                label: "Painéis de Edição",
            },
            {
                href: "./?markdown=4",
                icon: "groups",
                label: "Responsáveis",
            },
        ]}
    />
    <main style="max-width: 750px;"></main>
</Layout>
