---
/// INDEX DE DESENVOLVEDOR
import Layout from "../../layouts/Layout.astro";
import SideMenu from "../../components/SideMenu.astro";

const pageTitle = "Itens";
---

<script>
    import markdownReader from "../../components/markdownReader";

    markdownReader([
        "./01_itens-consumiveis",
        "./02_itens-utilitarios",
        "./03_tipos-de-armamentos",
        "./04_forja-de-armamentos",
        "./05_alquimia-de-pocoes",
        "./06_o-grimorio-vivo-de-sementes",
    ]);
</script>

<Layout id="titulo" title={pageTitle}>
    <SideMenu
        links={[
            {
                href: "../",
                icon: null,
                label: `Início / ${pageTitle}`,
            },
            {
                href: "./?markdown=0",
                icon: "grocery",
                label: "Itens Consumíveis",
            },
            {
                href: "./?markdown=1",
                icon: "build",
                label: "Itens Utilitários",
            },
            {
                href: "./?markdown=2",
                icon: "sword_rose",
                label: "Tipos de Armamentos",
            },
            {
                href: "./?markdown=3",
                icon: "fireplace",
                label: "Forja de Armamentos",
            },
            {
                href: "./?markdown=4",
                icon: "experiment",
                label: "Alquimia de Poções e Feitiços",
            },
            {
                href: "./?markdown=5",
                icon: "compost",
                label: "O Grimório Vivo de Sementes",
            },
        ]}
    />
    <main style="max-width: 750px;"></main>
</Layout>
