---
interface Props {
	id?: string;
	title: string;
}

const { id, title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{"Anvestea's Accord - " + title}</title>
	</head>
	<body>
		<div id="container" onload="javascript:handler()">
			<slot />
		</div>
	</body>
</html>

<script type="text/javascript">
	function handler() {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				document.getElementById("container").innerHTML =
					this.responseText;
			}
		};
		xhttp.open("GET", "notify.asp", true);
		xhttp.send();
	}
</script>

<link
	rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>

<style is:global>
	@font-face {
		font-family: "anvestea";
		src: url("/fonts/anvestea.ttf") format("truetype");
	}

	@font-face {
		font-family: "tahu";
		src: url("/fonts/tahu.ttf") format("truetype");
	}

	html {
		font-family: system-ui, sans-serif;
		background: #150b0b;
		scroll-behavior: smooth;
	}

	main {
		margin-left: 305px;
		padding: 1rem;
		width: 980px !important;
		max-width: calc(100% - 2rem);
		color: #f1e7e7;
		font-size: 20px;
		line-height: 1.6;
	}

	@media (width: 1280px) {
		main {
			padding: 0px 0px 0px 60px;
			width: 600px !important;
		}
	}

	@media (width: 1280px) {
		main {
			padding: 0px 0px 0px 60px;
			width: 600px !important;
		}
	}

	@media (min-width: 1281px) {
		main {
			padding: 0px 0px 0px 60px;
			width: 700px !important;
		}
	}

	@media (min-width: 1370px) {
		main {
			padding: 0px 0px 0px 60px;
			width: 780px !important;
		}
	}

	@media (min-width: 1800px) {
		main {
			padding: 0px 0px 0px 310px;
			width: 780px !important;
		}
	}

	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.letter {
		color: #d8131a;
		font-family: anvestea;
	}

	.note-title {
		font-size: 36px;
		font-family: tahu;
		font-weight: lighter;
	}

	.note-sup {
		margin-bottom: -5px;
		font-size: 14px;
		font-style: italic;
		justify-content: center;
		display: flex;
	}

	.note-sup::before {
		margin-right: 5px;
		content: "————";
	}

	.note-sup::after {
		margin-left: 5px;
		content: "————";
	}

	.note-sub {
		font-size: 14px;
		font-style: italic;
		margin-top: -8px;
		margin-bottom: 30px;
		justify-content: center;
		display: flex;
	}

	.note-sub::before {
		margin-right: 5px;
		content: "————";
	}

	.note-sub::after {
		margin-left: 5px;
		content: "————";
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

	::-webkit-scrollbar {
		width: 4px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background-color: #c51e23;
		border-radius: 4px;
		transition: background-color 0.3s ease;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: #f5c242;
	}

	.bold {
		font-weight: bold;
	}

	.title {
		margin-bottom: 40px;
	}

	.item {
		margin-top: 75px;
		margin-bottom: 60px;
	}

	.item h3::before {
		margin-right: 10px;
		content: "————";
	}

	.item h3::after {
		margin-left: 10px;
		content: "————";
	}

	.gap-close {
		margin-bottom: -30px;
	}

	.item hr {
		width: 300px;
	}

	.item h3 {
		text-align: center;
		justify-content: center;
		height: 20px;
	}

	/* CASO NÃO FOR O PRIMEIRO TÍTULO, NÃO MARGEIA ACIMA */
	.title:not(:first-of-type) {
		margin-top: 100px;
	}

	.material-symbols-outlined {
		margin-right: 10px;
	}

	.side-content {
		direction: ltr;
	}

	.sidelist {
		font-family: "anvestea";
		background: #150b0b;
		color: #d8131a;
		position: fixed;
		width: 260px;
		right: 0;
		top: 0;
		height: 100vh;
		box-sizing: border-box;
		overflow-y: scroll;
		direction: rtl;
		border-left: 2px solid transparent; /* Define a borda como transparente */
		border-image: linear-gradient(
				to bottom,
				transparent 5%,
				#d8131a50 25%,
				#d8131a 50%,
				#d8131a50 75%,
				transparent 95%
			)
			1;
	}
	.sidelist::-webkit-scrollbar {
		width: 2px; /* Largura da barra de rolagem */
	}

	.sidelist h4 {
		margin-left: 20px;
	}

	.sidelist ul {
		margin-left: 15px;
		font-family: "anvestea";
		list-style: none;
		padding: 0;
	}

	.sidelist li {
		font-size: 13px;
		margin-bottom: 5px;
	}

	.sidelist span {
		margin-right: 15px !important;
	}

	.center {
		display: flex;
		justify-content: center;
	}

	.super {
		display: flex;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.sub {
		font-size: 12px;
	}

	a {
		color: #d8131a;
		text-decoration: none;
		border-radius: 10px;
		transition: all 0.5s ease-in-out;
	}

	a:hover {
		width: fit-content;
		background-image: linear-gradient(
			to right,
			transparent 5%,
			#d8131a25 25%,
			#d8131a50 50%,
			#d8131a25 75%,
			transparent 95%
		);
	}

	.sidelist a:hover {
		background-image: linear-gradient(
			to right,
			transparent 5%,
			#d8131a25 25%,
			#d8131a50 50%,
			#d8131a25 75%,
			transparent 95%
		);
		background-size: 200% 100%;
		background-position: 100%;
	}

	.sidelist a:active {
		color: #ffffff;
		transition: transform 0.5s ease-in-out;
	}

	div.code_box pre {
		transition: all 0.2s ease-in-out;
		color: #ffffff !important;
		background-color: transparent !important;
	}

	div.code_box:hover pre {
		transition: all 0.2s ease-in-out;
		background-color: #d8131a10;
		color: #d8131a !important;
	}

	.code_box {
		font-size: 15px;
		width: fit-content;
		background-color: #ffffff10;
		padding: 20px;
		border-radius: 30px;
		margin: 0 auto;
		transition: all 0.2s ease-in-out;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.code_box:hover {
		transition: all 0.2s ease-in-out;
		background-color: #d8131a10;
		color: #d8131a !important;
	}

	.image {
		transition: transform 0.4s ease-in-out;
	}

	.image-container {
		display: flex;
		justify-content: center;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.image:hover {
		transform: scale(1.3);
		box-shadow: -2000px 2000px 2000px 2000px #00000099;
		transition: all 0.4s ease-in-out;
	}

	.note {
		text-align: center;
		margin-top: 50px;
		margin-bottom: 50px;
		transition: all 0.3s ease-in-out;
		font-size: 18px;
		width: fit-content;
		border-radius: 30px;
		background-color: #d8131a10;
		padding: 20px;
	}

	.note:hover {
		transition: all 0.3s ease-in-out;
		color: #d8131a;
	}

	.link {
		margin-top: 50px;
		margin-bottom: 50px;
		border-radius: 20px;
		width: fit-content;
	}

	.end {
		margin-top: 50px;
	}

	.link:not(:hover) {
		transition: all 0.3s ease-in-out;
	}

	.link:hover {
		background-color: #d8131a30;
		transition: all 0.3s ease-in-out;
	}

	.sidemenu {
		font-family: anvestea;
		font-weight: 800;
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		max-height: 90vh;
		width: 320px; /* Largura desejada */
	}

	.header {
		border-bottom: 2px solid transparent; /* Define a borda como transparente */
		border-image: linear-gradient(
				to right,
				transparent 0%,
				#d8131a50 25%,
				#d8131a 50%,
				#d8131a50 75%,
				transparent 100%
			)
			1;
		margin-bottom: 15px;
	}

	.sidemenu nav ul li.pager-container {
		position: static;
		display: flex;
		justify-content: center;
	}

	.sidemenu nav ul li.pager-container a {
		padding: 2;
		margin-left: -20px;
		width: auto;
	}

	.pager {
		color: transparent !important; /* Torna a cor do texto transparente */
		background-image: linear-gradient(to right, #d8131a, white);
		background-clip: text; /* Recorta o fundo para a área do texto */
		-webkit-background-clip: text; /* Compatibilidade com navegadores antigos */
	}

	.sidemenu h2 {
		font-size: 30px;
		text-align: center;
		padding: 10px 20px;
		font-family: tahu;
		font-weight: lighter;
		color: #d8131a;
	}

	.sidemenu p {
		font-size: 90%;
		color: white;
		display: flex;
		position: absolute;
		left: 105px;
		top: 60px;
	}

	.sidemenu nav ul {
		list-style: none;
		padding: 0;
		margin: 1;
	}

	.sidemenu nav ul li a {
		margin-left: 10px;
		display: flex;
		align-items: center;
		width: 275px;
		padding: 10px 20px;
		text-decoration: none;
		color: #ffffff;
		overflow-wrap: break-word;
	}

	.sidemenu nav ul li a:hover {
		color: #d8131a;
		background-color: #d8131a20;
	}

	.active::before {
		border-right: 4px solid #d8131a;
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		height: 60%;
		z-index: -1;
	}

	.active {
		position: relative;
		color: #d8131a !important;
	}

	.fade-in {
		position: fixed;
		opacity: 0;
		transform: translateY(-25px);
		transition:
			opacity 1s ease,
			transform 1s ease;
	}

	.fade-in.visible {
		opacity: 1;
		transform: translateY(0);
	}

</style>
