---
/// INDEX DE DESENVOLVEDOR
import Layout from "../../../../layouts/Layout.astro";
import SideMenu from "../../../../components/SideMenu.astro";

const pageTitle = "Arquipélagos Centrais";
---

<script>
    import markdownReader from "../../../../components/markdownReader";

    markdownReader([
        "./01_hefestea",
        "./02_ilha-poltergeist",
        "./03_trivora",
    ]);
</script>

<Layout id="titulo" title={pageTitle}>
    <SideMenu
        links={[
            {
                href: "../",
                icon: null,
                label: `Nações,... / ${pageTitle}`,
            },
            {
                href: "./?markdown=0",
                icon: "rocket_launch",
                label: "Hefestea",
            },
            {
                href: "./?markdown=1",
                icon: "destruction",
                label: "Ilha Poltergeist",
            },
            {
                href: "./?markdown=2",
                icon: "potted_plant",
                label: "Trivora",
            },
        ]}
    />
    <main style="max-width: 750px;"></main>
</Layout>
